/* Home Page Styles */
.banner{
  position: relative;
  width: 100%;
  height: auto ;
}
.banner img {
  width: 100%;
  object-fit: contain;
}

.about{
  background-color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }
  
  .home-page h1 {
    font-size: 2rem;
  }
}



