.moments-section {
  padding: 40px 0;
  background: #fff;
}

.moments-header {
  text-align: center;
  margin-bottom: 20px;
}

.moments-title {
  margin-bottom: 4px !important;
}

.moments-carousel .slick-slide {
  padding: 8px;
}

.moments-slide {
  display: flex !important;
  justify-content: center;
}

.moments-image-wrapper {
  width: 100%;
  height: 300px;
  max-width: 400px;
  aspect-ratio: 1;
  border-radius: 12px;
  overflow: hidden;
}

.moments-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
  /* display: block; */
}


